body {
	font-family: "Poppins", sans-serif;
	font-size: 12px;
	font-weight: 300;
	color: #6c757d;
	line-height: 1.67;
}
.wrapper {
	overflow: clip;
	min-height: 100%;

	display: flex;
	flex-direction: column;
}
.wrapper main {
	flex-grow: 1;
}
[class*="__container"] {
	max-width: 1270px;
	/* 1240 + 30 */
	padding-right: 15px;
	padding-left: 15px;
	margin: 0 auto;
}
.title {
	font-weight: 700;
	font-size: 25px;
	line-height: 1.6;
	color: #212529;
}
.page__header {
}
.header-page {
}
.header-page__container {
}
.header-page__body {
	width: 100%;
	position: relative;
	padding: 194px 0;
}
.header-page__content {
	text-align: center;
	max-width: 420px;
	margin: 0 auto;
}
.header-page__author {
	line-height: 1.67;
	color: #e5e5e5;
}
.header-page__author:not(:last-child) {
	margin-bottom: 11px;
}
.header-page__title {
}
.header-page__background {
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	border-radius: 5px;
}
.header-page__background img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}
.title_white {
	color: #f8f9fa;
}
@media (max-width: 767.98px) {
	.page {
		padding-top: 50px;
	}
	.header-page__container {
		position: relative;
	}
	.header-page__body {
		width: 100%;
		position: static;
		padding: 120px 0;
	}
	.header-page__background {
		border-radius: 0px;
	}
}
