@import url(reset.css);

/* cелектор всіх елементів, найменш пріорітетний */
* {
	color: grey;
}

/* cелектор тега */
li,
a {
	color: red;
}

/* посилання перефарбуються у фіолетовий,
бо селектор, що знаходиться нижче більш пріорітетний */
a {
	color: blueviolet;
}

/* селектор айді */
#transport {
	color: darkblue;
}

/* селектор класу */
.title {
	color: orange;
}

h1,
h2 {
	color: limegreen;
}

/* хоча селектор тегів знаходиться нижче, 
всі елементи з класом title НЕ перефарбувались у зеленеий,
бо селектор класу більш вузько напрямлений, 
а отже більш пріорітетний */

/* також свій колір не змінив заголовок з айді transport,
хоча він знаходиться сильно вище по коду.
Відбулось це через те що селектор айді найбільш ціленапрямлений,
а отже найбільш пріорітетний серед CSS селекторів*/

/* селектор атрибуту */
[class*="__text"] {
	color: brown;
}
/* не застосувався, бо з такою частиною у назві класу тільки теги div */

.example-1.example-2 {
	color: tomato;
}
/* застосувався тільки до того елементу який мав ці два класи ОДНОЧАСНО */

.example-3 {
	color: blue;
}
/* не спрацював, бо його перебив більш пріорітетний рядковий стиль */

p.example-4 {
	color: red;
}
/* впливає на всі p з даним класом навіть якщо вони знаходяться в різних місцях коду */

.summary p {
	color: magenta;
}
/* впливає тількии на ті p що знаходяться ВСЕРЕДИНІ елемента з класом summary*/

.example-5 > p {
	color: navy;
}
/* всередині .example-5 знаходиться ще один div в який вкладено параграф.
Пофарбувались тільки ті параграфи що були БЕЗПОСЕРЕДНЬО в .example-5.
Параграф що знаходився в .example-6 не змінив колір, бо є на другому рівні вкладності*/

.example-7 ~ p {
	color: yellow;
}
/* пофарбувались всі параграфи що йдуть далі в коді і на тому самому рівні вкладеності
не вплинув на ті параграфи що знаходяться нижче або вище в ієрархії*/

.example-11 + p {
	color: deeppink;
}
/* вплинув !ТІЛЬКИ НА ОДИН параграф,
що йде одразу після елементу з класом .example-11
НЕ ВПЛИНЕ НА ЕЛЕМЕНТ З ІНШИМ РІВНЕМ ВКЛАДЕНОСТІ*/

/* приклад: */
.example-12 + p {
	color: olivedrab;
}
/* не вплинув на параграф всередині .example-12 хоча він йде по коду ожразу після
АЛЕ має інший рівнень вкладеності*/
