@import url(reset.css);

@import url(https://fonts.googleapis.com/css?family=Poppins:300,500,700&display=swap);

body {
	font-family: "Poppins";
	font-weight: 300;
	font-size: 14px;
	line-height: 25px;
	color: #6c757d;

	background: #f8f9fa;
}

/* обмеження по ширині основних блоків */
.wrapper {
	max-width: 1440px;
	margin: 0 auto;
	padding: 15px 0px 60px;
}

.page {
	max-width: 1240px;
	margin: 0 auto;
}

[class*="__container"] {
	max-width: 65.806452%; /* 816/1240 */
	margin: 0 auto;
}
/* обмеження по ширині основних блоків */

/* відступи для блоків з текстом */
.page__text-block-1,
.page__text-block-3 {
	padding-bottom: 80px;
}
/* відступи для блоків з текстом */

/* робота з заголовками */
.title {
	font-weight: 700;
	font-size: 25px;
	line-height: 40px;
	color: #212529;

	margin-bottom: 40px;
}

.text-block-1__container .title {
	max-width: 49.019608%; /* 400/816 */
}

.text-block-3__container .title {
	max-width: 74.142157%; /* 605/816 */
}
/* робота з заголовками */

/* робота з параграфами */
p {
	margin-bottom: 40px;
}

.text-block__last-p {
	margin-bottom: 0;
}
/* робота з параграфами */

/* зображення */
.page__image-block-2 {
	margin-bottom: 80px;
}
.page__image-block-2 img {
	width: 100%;
}

.image-block-4 {
	margin-bottom: 80px;

	/* ! прибираємо фантомний відступ між дочірніми елементами */
	font-size: 0;
}

.image-block-4__image {
	max-width: 48.790323%; /* 605/1240 */
	display: inline-block;
	margin: 0 auto;
}

.image-block-4__image img {
	max-width: 100%;

	/*! не забувати повертати розмір шрифту зображенням */
	/*! це необхідно для того, щоб при відсутності зображення було видно альтернативний текст */
	font-size: 14px;
}

.block-4__fisrt-image {
	margin-right: 2.419355%; /* 30/1240 */
}

/* зображення */
.page__text-block-3 {
}
.text-block-3__container {
}

.page__text-block-5 {
}
.text-block-5__container {
}

/* ======= PRACTICE =========*/

.practice {
	color: #ddd;
	padding: 20px 15px;
	background-color: rgb(62, 27, 107);
}

.practice div {
	margin-bottom: 5px;
}

.practice p {
	margin: 0;
}

.block-1 {
	background-color: rgb(255, 55, 0);
	min-width: 300px;

	/* ширина блоку може бути більшою 300 пх */
	/* але при досягненні цього значення длок перестає звужуватись */
}

.block-2 {
	color: #222;
	background-color: #3fe76c;
	max-width: 200px;

	/* ширина блоку може бути меншою 200 пх */
	/* але при досягненні цього значення блок перестає рости */
}

.block-3 {
	height: 150px;
	background-color: #66146c;
	overflow: scroll;
	/* overflow: auto; */
}

.block-4 {
	color: #000;
	background-color: #98f40e;
	max-height: 100px;
	overflow: hidden;

	/* поки контенту мало, висота блоку менше 100пх */
	/* коли контенту багато вмикається обмеження по висоті */
	/* контент вилазить за рамки блоку, але overflow: hidden; його скриває */
}

.block-5 {
	color: #fff;
	background-color: #177594;
}

.block-5 span {
	background-color: red;
	display: block;

	/* span відображається як блочний елемент,
	тобто розпочинається з нового рядка та займає всю ширину */
}

.block-6 {
	background-color: rgb(255, 238, 0);
	color: #000;
	height: 200px;
}

.block-6 img {
	width: 35%;
	height: 100%;

	vertical-align: middle;
}

.block-7 {
	display: none;
}
